@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: "league spartan", sans-serif;
  background-color: #1b1b1b;
  color: white;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: #242424;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card img {
  height: 100%;
  object-fit: scale-down;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}

.contact-card {
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 2em;
  transition: all 0.1s ease-in-out;
}

.contact-card:active {
  transform: scale(0.95);
  background-color: #2c2c2c;
}

.project-card {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0.75em;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
}

.project-card:active {
  background-color: #2c2c2c;
}

.footer {
  width: 100%;
  background-color: #242424;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.75rem;
}